<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <title>Вход</title>
</head>
<body>
  <h1>Вход</h1>
  <form method="POST" action="/login">
      <label for="email">Email:</label>
      <div class="form-input"><input type="email" name="email" required></div>
      <br>

      <label for="password">Пароль:</label>
      <div class="form-input"><input type="password" name="password" required></div>
      <br>

      <button type="submit">Войти</button>
  </form>

  <div class="login-help">
      <p>Нет аккаунта? <a href="/register">Зарегистрируйтесь</a>.</p>
  </div>
</body>

</html>

